.banner {
    background-color: #022852;
    text-align: center;
}

.banner img {
    max-width: 100%;
}

.banner .img2 {
    width: 700px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}