.banner {
    background-color: #022852;
    text-align: center;
}

.banner img {
    max-width: 100%;
}

.banner .img2 {
    width: 699px; 
    height: auto; 
    margin: 0 auto; 
}

@media (max-width: 1200px) {
    .banner .img2 {
        width: 600px; 
    }
}

@media (max-width: 992px) {
    .banner .img2 {
        width: 500px; 
    }
}

@media (max-width: 768px) {
    .banner .img2 {
        width: 400px; 
    }
}

@media (max-width: 576px) {
    .banner .img2 {
        width: 300px; 
    }
}